/* start of the same code */
html, body {
  font-family: 'Zen Maru Gothic', sans-serif;
  height: 100vh; 
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #d9d9d9;
}

header {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  height:120px;
  margin-bottom: 100px;
}

nav{
  font-size: 18px;
  display: flex;
  justify-content: space-around;
}

input{
  display: none;
}


#header-img {
  height: 80%;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 0%;
  }

h2 {
  font-size: 45px;
  padding-left: 40px;
  padding-top: 0;
  color: #f0f0f0;
  }

.hamburger-menu {
    opacity: 0;
  }

a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 20px;
  font-weight: bold;
  }

.links_pages:hover{
  text-decoration: underline;
  }
    
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 0;
  }
    
li {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 30px;
 }

 #personal-account {
  font-size: 18px;
  border: 1px solid #FAEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  padding: 20px;
  vertical-align: middle;
 }
 
 #personal-account:hover{
  color: #282727;
  background-color: #F0F0F0;
  border: 1ps solid #282727;
 }

main {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  margin-bottom: 10px;
}

footer, header {
background-color: #282727;
}

footer {
  width: 100%;
  box-shadow: 0px -10px 4px rgba(0, 0, 0, 0.25);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  bottom: 0;
  margin-top: 100px;
}

h3 {
  display: block;
}

#fmito-img {
  height: 50%;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#vk-img {
  height: 25px;
  text-align: center;
  position:relative;
  top: 50px;
  right: 290px;
}
#tg-img {
  height: 25px;
  text-align: center;
  position:relative;
  top: 50px;
  right: 260px;
}
/* end of the same code */

/* FIX FOOTER PROBLEM (checkout 60% zoom and 
less) !!! */


.divBlock{
  display: block;
  margin-top: 40px;
}


.pointer{ cursor: pointer; }

button{
  border: 1px solid #282727;
  border-radius: 20px;
  background-color: #282727;
  color: #F0F0F0;
  size: 20px;
  width: 501px;
  height: 85px;
  font-size: larger;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


article{
  background-color: #F0F0F0;
  border-radius: 20px;
  border: 1px solid #282727;
  width: 500px;
  min-height: 100px;
  max-height: 800px;
  margin-top: -50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  padding:50px 0px 50px;
}

.clicked{ display: none; }

p {padding: 0px 1% 40px 1%;}

#course{
  font-size: 18px;
  text-align: center;
  border: 1px solid #FAEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px ;
  padding: 10px 40px;
  background-color: #282727;
  
}

#course:hover{
  color: #282727;
  background-color: #F0F0F0;
  border: 1px solid #282727;
}

#front { margin-top: 60px; }

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  nav {
    display: none;
  }
  
  #header-img{
    position: relative;
    left: -20%;
  }

  h2 {
    padding: 0px 150px 0px 0px;
  }

  .hamburger-menu {
    opacity: 1;
  }

  button, article {
    width: 95%;
  }

  #vk-img {
    height: 25px;
    text-align: center;
    position:relative;
    top: 50px;
    right: 290px;
  }
  #tg-img {
    height: 25px;
    text-align: center;
    position:relative;
    top: 50px;
    right: 260px;
  }
}


#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 50px;
  right: 50px;

  width: 50px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 5px;

  background-color: #F0F0F0;
  border-radius: 45px;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -15px;
}
.menu__btn > span::after {
  content: '';
  top: 15px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #282727;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu__item {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 5% 2%;
  margin: 0px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  vertical-align: middle;
}
.sep {
  margin-top: 200px;
  
}
.menu__item:hover {
  background-color: #F0F0F0;
}
#personal-account {
 margin-top: 25px;
} 

